<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jotto</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">

        
            <header>
                <h1>Jotto!</h1>
                <button @click="jottoRules">How to play Jotto</button>
            </header>
            <main>


                <button class="myWord-button" @click="clicked = 'myWord'">My Word</button>
                <button class="guessWord-button" @click="clicked = 'guessWord'">Opponent's Word</button>
                <div class="myWord-container" v-show="clicked === 'myWord'">
                    <h2>My Word</h2>
                    <div class="wordChoice" v-if="myWord === ''">
                        <h3>Choose a word for your opponent to guess</h3>
                        <word-input
                            @enter="enterWord"
                        ></word-input>
                       
                        <!-- <word-input
                            @enter="enterWord"
                        ></word-input> -->
                    </div>
                    <div class="opponentGuesses" v-else>
                        <p>Secret word: {{myWord}} </p>
                        <div v-if="myWord !== ''">
                            <ul v-for="word in opponentsGuesses" :key="word.id">
                                {{ word.word }} - {{ word.numCorrectLetters }}
                            </ul>
                        </div>
                        <word-input id="opponents-guess"
                            @enter="enterWord"
                        ></word-input>
                        <div v-if="myWord !== wordInfo.word">
                            <p>You guessed the secret word in {{ opponentsGuessedWordArray.length}} guess(es)!!</p>
                        </div>
                        <p>Opponent's guesses: {{ opponentsGuesses }}</p>
                    </div>
                    
                    
                </div>




                <div class="guessWord-container" v-show="clicked === 'guessWord'">
                    <h2>Guess Opponent's Word</h2>

                    <p> {{alphabet}}</p>
                    <div class="alphabet">
                        <button v-for="letter in alphabet" :key="letter.name" @click="pickLetter(letter)">{{letter.name}} - {{ letter.pick }}</button>
                    </div>
                    <p>{{ myGuesses }}</p>
                    <p>guess mystery word</p>
                    <word-input
                        @enter="enterWord" 
                    ></word-input>

                </div>
                
                
                
        
                <!-- <input type="text" class="letterInput" v-model="letterOne" maxlength="1" @input="next">
                
                <input type="text" class="letterInput" v-model="letterTwo" maxlength="1" @keyup.delete="last" @input="next">
               
                <input type="text" class="letterInput" v-model="letterThree" maxlength="1" @keyup.delete="last" @input="next">
                
                <input type="text" class="letterInput" v-model="letterFour" maxlength="1" @keyup.delete="last" @input="next">
                
                <input type="text" class="letterInput" v-model="letterFive" maxlength="1" @keyup.delete="last" @input="next">
                

                <button @keyup.delete="last" @click="enter">ENTER</button> -->

            </main>
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


        <script src="site.js"></script>
    </body>
</html>