<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jotto</title>
    </head>
    <body>
        <div id="app">

        
            <header>
                <h1>Jotto!</h1>
            </header>
            <main>
                <p>{{message}}</p>
                <p> {{alphabet}}</p>
                <div class="alphabet">
                    <button v-for="letter in alphabet" @click="pickLetter(letter)">{{letter.name}} - {{ letter.pick }}</button>
                </div>
                

        
                <input type="text" id="letterOne" v-model="input1" maxlength="1" @input="next" autocapitalize="characters">
                
                <input type="text" id="letterTwo" v-model="input2" maxlength="1" @input="next">
               
                <input type="text" id="letterThree" v-model="input3" maxlength="1" @input="next">
                
                <input type="text" id="letterFour" v-model="input4" maxlength="1" @input="next">
                
                <input type="text" id="letterFive" v-model="input5" maxlength="1" @input="next" >
                

                <button>ENTER</button>

            </main>
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


        <script src="site.js"></script>
    </body>
</html>