body {
    background-color: rgb(112, 164, 164);
    touch-action: manipulation;
}

button {
    color: black;
}


.alphabet {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    
}

.letterInput {
    width: 20px;
    text-transform: uppercase;
    /* pointer-events: none; */
}

.letterIn {
    background-color: hotpink;
    border: 4px solid black;
}

.letterOut {
    text-decoration: line-through;
    background-color: rgb(191, 188, 188);
}