body {
    background-color: rgb(112, 164, 164);
    touch-action: manipulation;
}

.letterInput {
    width: 20px;
    text-transform: uppercase;
    /* pointer-events: none; */
}

.letterIn {
    background-color: yellow;
    border: bold;
}

.letterOut {
    text-decoration: line-through;
    background-color: gray;
}