body {
    background-color: rgb(112, 164, 164);
    touch-action: manipulation;
}



.alphabet {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: black;
    border: 2px solid black;
}

.letterInput {
    width: 20px;
    text-transform: uppercase;
    /* pointer-events: none; */
}

.letterIn {
    background-color: hotpink;
    border: bold;
}

.letterOut {
    text-decoration: line-through;
    background-color: gray;
}